#projects {
    padding: 50px;
    background-color: #f5d2d2;
    text-align: center;
    margin-top: 3%;
}

.project {
    margin: 10px;
    display: inline-block;
    width: 30%;
    box-sizing: border-box;
}

.project img {
    width: 60%;
    height: auto;
    padding-right: 3%;
    margin-right: 5%;
}


.project h3 {
    font-size: 1.2rem;
    color: #333;
    
}

.project p {
    font-size: 1rem;
    color: #555;
}

.project a {
    color: #007BFF;
    text-decoration: none;
}
